/* #region for all */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a:hover,
a:focus {
    color: #404bbf;
}

button:hover,
button:focus {
    color: #404bbf;
}

button {
    cursor: pointer;
}
.noflex {
    display: block;
}
/* #endregion */
/* #region for dev */
.hiden{
    display: none;
}
/* #endregion */
/* #region comon */
.container {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            
        }
}
@media screen and (min-width: 1158px) {

    .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
        }
}
/* #endregion comon */
/* #region header */
.top-line {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.menu-list{
    display: none;
}
.info{
    display: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo-double-color {
    color: #2e2f42;
}
.burger-button{
    margin: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    stroke: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-button {
        display: none;}
.menu-list {
    /* padding: 0; */
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.info {
    display: flex;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.menu-list:first-child {
    position: relative;
    color: #404bbf;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding: 24px 0; */
}

/* .menu-nav:first-child{
    position: relative;
        color: #404bbf;
} */

.address-data {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
}

.address-data:hover,
.address-data:focus {
    color: #404bbf;
}

.menu-nav-reference {
    color: #2e2f42;
    padding: 24px 0;
}

/* .menu-nav-reference:first-child{
    position: relative;
    color: #404bbf;
} */
.address-data-reference {
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-nav:first-child .menu-nav-reference {
    color: #404bbf;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-nav:first-child .menu-nav-reference::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
    }
@media screen and (min-width: 1158px) {
    .logo {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-right: 76px;
            display: block;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        .address-list {
            flex-direction: row;
            gap: 40px;
        }
                .address-data {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                }
               
        }
/* #endregion header */
