/* #region for all */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a:hover,
a:focus {
    color: #404bbf;
}

button:hover,
button:focus {
    color: #404bbf;
}

button {
    cursor: pointer;
}
.noflex {
    display: block;
}
/* #endregion */
/* #region for dev */
.hiden{
    display: none;
}
/* #endregion */
/* #region comon */
.container {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            
        }
}
@media screen and (min-width: 1158px) {

    .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
        }
}
/* #endregion comon */
/* #region header */
.top-line {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.menu-list{
    display: none;
}
.info{
    display: none;
    font-style: normal;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo-double-color {
    color: #2e2f42;
}
.burger-button{
    margin: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    stroke: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-button {
        display: none;}
.menu-list {
    /* padding: 0; */
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.info {
    display: flex;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.menu-list:first-child {
    position: relative;
    color: #404bbf;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding: 24px 0; */
}

/* .menu-nav:first-child{
    position: relative;
        color: #404bbf;
} */

.address-data {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
}

.address-data:hover,
.address-data:focus {
    color: #404bbf;
}

.menu-nav-reference {
    color: #2e2f42;
    padding: 24px 0;
}

/* .menu-nav-reference:first-child{
    position: relative;
    color: #404bbf;
} */
.address-data-reference {
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-nav:first-child .menu-nav-reference {
    color: #404bbf;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-nav:first-child .menu-nav-reference::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
    }
@media screen and (min-width: 1158px) {
    .logo {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-right: 76px;
            display: block;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        .address-list {
            flex-direction: row;
            gap: 40px;
        }
                .address-data {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                }
               
        }
/* #endregion header */
/* #region hero-image */
.hero-image {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  
  background-size: cover;
  padding: 72px 0;
 
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
@media (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile@2x.jpg);
  }
  
}
.hero-image-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
}
.order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 72px auto 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
  color: #fff;
  background-color: #404bbf;
}
.hero-image .container{
    /* max-width: 320px; */
    display: block;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-image-title{
    font-size: 56px;
  }
  .hero-image{
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg-tablet.jpg);}
@media(min-resolution: 192dpi){
  .hero-image{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg-tablet@2x.jpg)
  }
}
  .order-service{
  margin: 48px auto 0;
  }
}
@media screen and (min-width: 1158px) {
  
  .hero-image{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg-desktop.jpg);}
  @media(min-resolution: 192dpi){
  .hero-image{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/bg-desktop@2x.jpg)}
  }
}
/* #endregion hero-image */
/* #region first section */
.section-first{
  padding-bottom: 96px;
  padding-top: 96px;
}
.icon-rectangle{
  display: none;
}
.section-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;}

.first-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  /* margin-top: 96px; */
}
.section-first-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .section-first-list {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
  .first-list {
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-top: 96px; */
  }
  .section-first-title {
    
    text-align: start;}
}
@media screen and (min-width: 1158px) {
  .icon-rectangle {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .section-first-icons {
    /* width: 64px; */
    /* height: 64px; */
    border: 1px solid #8e8f99;
    border-radius: 4px;
    /* width: 264px; */
    /* height: 112px; */
    background: #f4f4fd;
    justify-content: center;
    /* display: flex; */
    /* min-height: 112px; */
    /* width: 100%; */
    border: none;
  }
  .first-list {
    display: flex;
    gap: 24px;
  }
  .section-first-list {
    width: calc((100% - 72px) / 4);
  }
  .section-first-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .section-first-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
}
/* #endregion first section */
/* #region our-team */
.our-team{
  background-color: #f4f4fd;
  padding: 96px 0;
}
.our-team .container {
  flex-direction: column;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.description {
  padding: 32px 0;
}
.our-team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  fill: #4d5ae5;
  position: relative;
  margin-top: 8px;
}
.icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}
.icons-referense {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-referense:hover,
.icons-referense:focus {
  background-color: #404bbf;
}
.team-list {
  background: #fff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
}
.icon-center {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #f4f4fd;
}
@media screen and (min-width: 768px){
  .team-list{
    width: calc((100% - 24px) / 2);
  }
  .our-team-list{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .our-team .container{
    padding:  0 108px;
  }
}
@media screen and (min-width: 1158px){
.team-list{
 width : calc((100% - 72px) / 4);
}
.our-team .container{
  padding: 0; 
}

/* #endregion our-team */

/* #region our portfolio */
.our-portfolio {
  padding: 120px 0;
}
.our-portfolio .container{
  flex-direction: column;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}

.portfolio-list-item {
  /* width: calc((100% - 48px) / 3); */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-image-wraper {
  position: relative;
  overflow: hidden;
}
.portfolio-hover-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-image-wraper .portfolio-hover-p {
  transform: translateY(0%);
}
@media screen and (min-width: 768px){
  .portfolio-list-item{
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px){
  .portfolio-list-item {
     width: calc((100% - 48px) / 3);
  }
}
/* #endregion our portfolio */

/* #region footer */
.no-justify {
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-double-color {
  color: #f4f4fd;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.social-link-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.social-media {
  /* width: 208px; */
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin: 0 auto;
}
footer .our-team-icons {
  gap: 16px;
}
footer .container {
  align-items: baseline;
}
.footer-list-icons {
  display: flex;
  gap: 16px;
}
.footer-items {
  width: 40px;
  height: 40px;
}
.footer-icons-referense {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
footer .footer-list-icons .footer-items .footer-icons-referense:hover,
footer .footer-list-icons .footer-items .footer-icons-referense:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}

/* #endregion footer */
/* #region footer form */
.footer-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;

}
.footer-form-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.footer-form-label {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer::placeholder {
  color: #ffffff;
}
.footer-form-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  /* gap: 16px; */
}
.footer-form {
  /* margin-left: 80px; */
  margin: 0 auto;
}
.footer-input-icon {
  margin-left: 16px;
}
/* #endregion */
@media screen and (min-width: 768px){
  .no-justify {
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    padding: 0 108px;
  }
  .footer-text{
    margin: 0;
    align-items: start;
    /* margin-left: 108px; */
  }
  .social-media{
    margin: 0;
  }
  .footer-form {
    /* margin-left: 108px; */
    margin: 0;
  }
  .footer-form-description{
    text-align: start;
  }
  .footer-form-form {
    flex-direction: row;
  }
    .social-link-list{
      text-align: start;
    }
        .footer-form-input{
          width: 264px;
        }
                .footer-logo{
                  margin: 0;
                }
}
@media screen and (min-width: 1158px){
  .footer{
    padding: 100px 0;
  }
  .footer-text{
    display: block;
    margin: 0;
    margin-right: 120px;
  }
  .footer-form{
    margin: 0;
  }
  .social-media{
    margin-right: 80px;
  }
  .no-justify{
    gap: 0;
    flex-wrap: nowrap;
    padding: 0;
    
  }
    .footer-description{
      min-width: 264px;
    }
}

/* #region modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
  
}

  

.modal-form {
  
}
.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* fill: #e7e9fc; */
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-top: 24px; */
  /* margin-right: 24px; */
  /* margin-bottom: 24px; */
}
.form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border-color: #4d5ae5;
}
.form-check-color {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  /* width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover{
  background-color: #404BBF;
  color: #fff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: #ffffff;
}
.form-label-container {
  margin-bottom: 8px;
}
.form-input-container {
  position: relative;
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input-icon {
  /* fill: black; */
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}
.form-checkbox-container {
  margin-bottom: 24px;
}
.check:checked + .form-checkbox > .form-check-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.form-check-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.comment {
  margin-bottom: 16px;
}
/* #endregion */

/* #region mobile menu */
.mobile-menu{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  padding-left: 16px;
  opacity: 0;
  pointer-events: none;
}
.mobile-menu .button-close{
  background-color: #fff;
}
.mobile-menu-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.link {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-address {
  padding-top: 168px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu .footer-list-icons{
  padding-top: 48px;
  margin-right: 24px;
justify-content: space-between;
}
.mobile-address-link{
  font-style: normal;
  color: #434455;
}
/* #endregion */